/* conatiner */
.container {width: 1000px;  margin: 0 auto;}

/* row */
.row {margin: 0 20px; position: relative; }

/* header */
#header .data {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #B5B5B5;
}
#header .title {
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}

#header .id {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 40px;
    height: 40px;
    background: linear-gradient(142.43deg, #ACACAC 4.35%, #E4E4E4 82.32%);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    font-weight: 300;

}

/* bestM */
.bestM .best-title .bt-stit { color: #C92B2B; font-size: 12px; font-weight: 500;}
.bestM .best-title .bt-tit { font-size: 24px; font-weight: 600;}
.bestM .best-title .bt-desc { color: #ACACAC; font-size: 24px; font-weight: 300; padding-bottom: 15px;}

/* recentM */
.recentM .recent {float: left; width: 49%; margin-right: 2%;}
.recentM .recent:last-child {margin-right: 0;}
.recentM h2 { font-size: 24px; font-weight: 600; margin-top: 20px; margin-bottom: 16px;
              border-top: 1px solid #ccc;
              padding-top: 20px;
             }
.recentM .recent-title {margin-top: 10px;}
.recentM .recent-title .rt-stit { font-size: 20px; font-weight: 500; }
.recentM .recent-title .rt-tit { font-size: 16px; font-weight: 300; color: #B5B5B5;}




/* 반응형을 위한 mediaquery  */
@media(max-width:1020px){
    .container{width: 100%;}
}
